Repository jenkinsci/docker-agent, pull requests merged in 2023-09, with the labels that each got.

#484 chore(updatecli) track docker-bake variables with the native HCL resource instead of file
  updatecli/updatecli.d/alpine.yaml
  updatecli/updatecli.d/jdk11.yaml
  updatecli/updatecli.d/jdk17.yaml
  updatecli/updatecli.d/remoting.yaml
Labels: chore, updatecli

#494 chore(updatecli) fixup of #459 for JDK11 and JDK11 manifests
  updatecli/updatecli.d/jdk11.yaml
  updatecli/updatecli.d/jdk17.yaml
Labels: chore, updatecli

#492 Add preview images for jdk21
  alpine/21/Dockerfile
  debian/21/Dockerfile
  docker-bake.hcl
Labels: enhancement, alpine-linux, jdk21, debian-linux

#495 feat(dependencies): Tracks JDK21 early access releases.
  updatecli/scripts/check-jdk.sh
  updatecli/updatecli.d/jdk21.yaml
Labels: chore, updatecli, jdk21

#498 feat(platforms): Adds ppc64le and s390x archs for JDK21.
  debian/21/Dockerfile
  docker-bake.hcl
Labels: enhancement

#500 chore(updatecli): add a manifest for `git-lfs` on Windows
  updatecli/updatecli.d/git-lfs-windows.yaml
Labels: windows, updatecli

#505 fix(docker): Adds "debian_jdk21" in s390x and ppc64le groups.
  docker-bake.hcl
Labels: enhancement

#503 fix(windows) bump `git-lfs` to 3.4.0 and fix its installation
  tests/agent.Tests.ps1
  updatecli/updatecli.d/git-lfs-windows.yaml
  windows/nanoserver/Dockerfile
  windows/windowsservercore/Dockerfile
Labels: enhancement, windows, git-lfs

#506 chore(updatecli) correct regexp error to fix git-lfs manifest
  updatecli/updatecli.d/git-lfs-windows.yaml
Labels: chore, updatecli, git-lfs
