Repository jenkinsci/docker-agent, pull requests merged in 2024-05, with the labels that each got.

#787 feat(Windows): switch from temurin base images to temurin installer
  build-windows.yaml
  build.ps1
  tests/agent.Tests.ps1
  tests/inbound-agent.Tests.ps1
  windows/nanoserver/Dockerfile
  windows/windowsservercore/Dockerfile
Labels: enhancement, windows

#797 chore(updatecli): fix Windows targets in jdk manifests
  updatecli/updatecli.d/jdk11.yaml
  updatecli/updatecli.d/jdk17.yaml
  updatecli/updatecli.d/jdk21.yaml
Labels: chore, windows, updatecli

#799 chore: jlink improvements from jenkinsci/docker
  alpine/Dockerfile
  debian/Dockerfile
  debian/preview/Dockerfile
Labels: chore, linux

#786 feat(Linux): switch from temurin base images to temurin installer
  alpine/Dockerfile
  archlinux/Dockerfile
  debian/Dockerfile
  jdk-download-url.sh
  jdk-download.sh
Labels: enhancement, linux

#810 chore: rename jdk scripts and add updatecli manifest
  adoptium-get-jdk-link.sh
  adoptium-install-jdk.sh
  alpine/Dockerfile
  archlinux/Dockerfile
  build.ps1
  debian/Dockerfile
  updatecli/updatecli.d/adoptium-scripts.yaml
Labels: chore, updatecli, adoptium-scripts

#804 chore: factorise jdk in docker-bake.hcl
  docker-bake.hcl
Labels: chore, linux

#816 hotfix(Windows Server Core LTSC2019) pin 2019 images to April version
  build-windows.yaml
  build.ps1
  windows/nanoserver/Dockerfile
  windows/windowsservercore/Dockerfile
Labels: bug, windows, ltsc2019
