Repository jenkinsci/docker-agent, pull requests merged in 2024-03, with the labels that each got.

#763 Bumping the baseline debian docker baseline bookworm image to bookworm-20240211
  debian/Dockerfile
  debian/preview/Dockerfile
  docker-bake.hcl
Labels: dependencies, chore, debian-bookworm

#764 chore(dependencies): Tracks the Debian bookworm version.
  updatecli/updatecli.d/debian.yaml
Labels: dependencies, chore, updatecli, debian-bookworm

#768 Add inbound agent pictures
  images/screen-1.png
  images/screen-2.png
  images/screen-3.png
  images/screen-4.png
  images/screen-5.png
  images/screen-6.png
Labels: documentation

#761 Issue #760 - updatecli changes to enable JDK updates when new JDK versions are published
  .github/workflows/updatecli.yaml
  updatecli/scripts/check-jdk.sh
  updatecli/updatecli.d/jdk11.yaml
  updatecli/updatecli.d/jdk17.yaml
  updatecli/updatecli.d/jdk21.yaml
  updatecli/values.temurin.yaml
Labels: chore, jdk17, updatecli, jdk21, jdk11, jdk21-preview

#762 chore(updatecli) Fix JDK manifests to use the proper Ubuntu version
  updatecli/updatecli.d/jdk11.yaml
  updatecli/updatecli.d/jdk17.yaml
Labels: chore, jdk17, updatecli, jdk21, jdk11

#776 feat(JDK21) Use official Temurin build for `linux/s390x`
  docker-bake.hcl
  updatecli/scripts/check-jdk.sh
Labels: enhancement, jdk21, s390x

#781 fix(windows): directly retrieve images from docker compose config output with `yq`
  build.ps1
Labels: bug, windows
