Repository jenkinsci/docker-agent, pull requests merged in 2025-05, with the labels that each got.

#979 Bump UBI9 version to 9.5-1745848351
  docker-bake.hcl
  rhel/ubi9/Dockerfile
  updatecli/scripts/ubi9-latest-tag.sh
Labels: dependencies, rhel-ubi9

#981 Update examples to use most recent JDK versions
  README.md
  build.ps1
  rhel/ubi9/Dockerfile
  windows/nanoserver/Dockerfile
  windows/windowsservercore/Dockerfile
Labels: documentation

#988 chore(updatecli): Correct replace pattern in remoting.yaml to include trailing content
  updatecli/updatecli.d/remoting.yaml
Labels: chore, updatecli

#984 chore(GHA) run `updatecli` once a day
  .github/workflows/updatecli.yaml
Labels: chore

#990 chore(updatecli): fix UBI9 script
  updatecli/scripts/ubi9-latest-tag.sh
Labels: chore, updatecli
