Repository jenkinsci/docker-agent, pull requests merged in 2025-09, with the labels that each got.

#1044 chore(jdk25): add configuration to bump JDK25 version for all Linux images
  updatecli/updatecli.d/jdk25.yaml
Labels: updatecli, jdk25

#1048 doc: add `REMOTING_OPTS` optional env var and deprecate others in README
  README_inbound-agent.md
Labels: documentation

#1051 chore: Update Debian version from Bookworm to Trixie
  updatecli/updatecli.d/debian.yaml
Labels: chore, updatecli, debian
